body{
    background-color: #4e4e3e;
    main{
        background-color: #4e4e3e;
        section{
            background-color: #4e4e3e;
        }
        div{
            background-color: #4e4e3e;
        }
    }
}   
